.switch-container {
    margin: 24px 0;
  }
  
  .switch-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-family: "Patrick Hand", cursive;
    cursor: pointer;
  }
  
  .switch-wrapper {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .switch-wrapper input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgb(128, 128, 128), rgb(0, 0, 0));
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background: linear-gradient(rgb(0, 150, 255), rgb(0, 100, 200));
  }
  
  input:checked + .slider:before {
    transform: translateX(30px);
  }