.section {
    text-align: center;
    padding: 32px;
    margin-bottom: 32px;
}
   
.section h3 {
    color: white;
    font-size: 32px;
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 4px solid #6278F7;
    margin-bottom: 24px;
} 

.section .product-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 32px;
}